<div class="wrapper-content">
        <div class="row">
             <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>步骤列表</h5>

                        <div class="ibox-tools">
                            <a class="btn btn-primary btn-xs" href="javascript: goPage('mGroup/form?modelId=${dataModel.id}')">
                                <i class="fa fa-plus"></i>添加步骤
                            </a>
                            <a class="btn btn-white btn-bitbucket btn-xs" href="javascript: goPage('manage')">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <input type="text" class="form-control input-sm m-b-xs" id="filter"
                               placeholder="搜索表格...">

                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter id="stepManageFootable">
                            <thead>
                                    <tr>
                                        <th data-toggle="true">步骤名称</th>
                                        <th>步骤顺序</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	<#if dataModel.groups?? && (dataModel.groups?size > 0)>
        							<#list dataModel.groups as m>
                                    <tr>
                                        <td>${m.name}</td>
                                        <td>${m.index}</td>
                                        <td>
                                        <a href="javascript: goPage('mGroupItem/${dataModel.id}/${m.id}/all ')"><i class="fa fa-info text-navy"></i> 查看详情</a>
                                        <a href="javascript: goPage('mGroup/form?modelId=${dataModel.id}&groupId=${m.id}')"><i class="fa fa-pencil text-navy"></i> 编辑</a>
                                        <a href="javascript: removeStep(${m.id})"><i class="fa fa-trash text-navy"></i> 删除</a>
                                        </td>
                                    </tr>
                                    </#list>
                                    <#else>
                                   		<tr><td colspan="3">暂无数据</td></tr>
                                    </#if>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <ul class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>

<script>
	$('#stepManageFootable').footable();

    function removeStep(id){
    	var loading = null;
    	
    	layer.confirm('确认删除吗', {
          icon: 2,
          btn: ['确认','取消'] //按钮
        }, function(){
        	loading = layer.load();
        	$.ajax({
            	url:'${base}dtm/mGroup/' + id + '/delete',
            	type:"post",
            	success:function(data){
            		layer.close(loading);
            		data = JSON.parse(data);
            		if (!data.success){
            			layer.msg(data.message ? data.message : '删除失败！', {icon: 5});
            		} else {
            			layer.msg('删除成功！', {icon: 6});
            			goPage('mGroup/${dataModel.id}/all');
            		}
            	}
            });
        },function(){
    		layer.close(loading);
        });
    }

</script>